<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html lang="he">
<head>
<title>סיפורים שסיפרתי לילדי</title>
</head>
<body>
<h1>Welcome</h1>
<h3>Hello Avi, Welcome to your page take 1!!!</h3>
<h3> hello שלום </h3>
<strong>Developing this site step by step</strong>
<ul>
  <li> More HTML </li>
  <li> CSS </li>
  <li> erb </li>
</ul>
<br/>
<ol>
  <li> More HTML </li>
  <li> CSS </li>
  <li> erb </li>
</ol>
</body>
</html>
