<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html lang="he">
<head>
<title>סיפורים שסיפרתי לילדי</title>
</head>
<body>
<h1>Welcome</h1>
<h3>Hello Avi, Welcome to your page take 1!!!</h3>
<a href="#ggl">Go To GoTo Google</a>
<h3 style="background-color:gray;"> Hello All שלום </h3>
<strong>Developing this site step by step</strong>
<ul>
  <li style="background-color:green;"> More HTML </li>
  <li> CSS </li>
  <li> erb </li>
</ul>
<br/>
<ol>
  <li style="background-color:red;"> More HTML </li>
  <li> CSS </li>
  <li> erb </li>
</ol>
<strong>Developing this site step by step2</strong></br>
<strong>Developing this site step by step3</strong></br>
<strong>Developing this site step by step4</strong></br>
<strong>Developing this site step by step5</strong></br>
<strong>Developing this site step by step6</strong></br>
<strong>Developing this site step by step7</strong></br>
<strong>Developing this site step by step8</strong></br>
<strong>Developing this site step by step9</strong></br>
<strong>Developing this site step by step9</strong></br>
<strong>Developing this site step by step9</strong></br>
<strong>Developing this site step by step9</strong></br>
<strong>Developing this site step by step9</strong></br>
<strong>Developing this site step by step9</strong></br>
<a href="http://www.google.com"  id="ggl" title="This will take you to Google">GoTo Google</a>
</body>
</html>
