<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html lang="he">
<head>
<title>סיפורים שסיפרתי לילדי</title>
</head>
<body>
<h3 style="background-color:gray;">לינקים</h3>
<h1>סיפורים שסיפרתי לתום טל ועלמה</h1>
<a href="http://www.gutenberg.org/" title="Pressing here will take you to the Gutenberg Project"><img src="/assets/book1.jpg" width="160" height="160" alt="Book"/></a>
<h3>Hello Avi, Welcome to your page take 1!!!</h3>
<a href="#ggl">Go To GoTo Google</a>
</br>
<strong>Developing this site step by step</strong>
<ul>
  <li style="background-color:green;"> More HTML </li>
  <li> CSS </li>
  <li> erb </li>
</ul>
<br/>
<ol>
  <li style="background-color:red;"> More HTML </li>
  <li> CSS </li>
  <li> erb </li>
</ol>
<strong>Developing this site step by step2</strong></br>
<strong>Developing this site step by step3</strong></br>
<strong>Developing this site step by step4</strong></br>
<strong>Developing this site step by step5</strong></br>
</br>
</br>
<a href="http://www.google.com"  id="ggl" title="This will take you to Google">GoTo Google</a>
</body>
</html>
